In [33]:
#Import Dependencies
import pandas as pd

In [34]:
#Load Dataset
file = "Resources/crime_data.csv"

crime_data = pd.read_csv(file)

crime_df = pd.DataFrame(crime_data)
#crime_df.head(10)

In [35]:
#Data Clean up
crime_df = crime_df.rename(columns={
    "neighborhood" : "Neighborhood",
    "ucrDescription" : "Crime",
    "number" : "Number of Cases",
    "reportMonth" : "Month",
    "reportYear" : "Year"
})
#crime_df

del crime_df["neighborhoodCrimeStatisticsID"]
#crime_df

crime_df["Date"] = crime_df["Month"].astype(str) +"/"+ crime_df["Year"].astype(str)
#crime_df

In [36]:
#Cleaning Up Neighborhoods
crime_df["Neighborhood"] = crime_df["Neighborhood"].replace({
    '** NOT ASSIGNED **' : "Unknown",
    'Z_** NOT ASSIGNED **' : "Unknown",
    'ARMATAGE' : 'Armatage',
    'AUDUBON PARK' : 'Audubon Park',
    'BANCROFT' : 'Bancroft',
    'BELTRAMI' : 'Beltrami',
    'BOTTINEAU' : 'Bottineau',
    'BRYANT' : 'Bryant',
    'BRYN - MAWR' : 'Bryn - Mawr',
    'CAMDEN INDUSTRIAL' :'Camden Industrial',
    'CARAG' : "Carag",
    'CEDAR - ISLES - DEAN' : 'Cedar - Isles - Dean',
    'CEDAR RIVERSIDE' : 'Cedar Riverside',
    'CENTRAL' : 'Central',
    'CLEVELAND' : 'Cleveland',
    'COLUMBIA PARK' : 'Columbia Park',
    'COMO' : 'Como',
    'COOPER' : 'Cooper',
    'CORCORAN' : 'Corcoran',
    'DIAMOND LAKE' : 'Diamond Lake',
    'DOWNTOWN EAST' : 'Downtown East',
    'DOWNTOWN WEST' : 'Downtown West',
    'EAST HARRIET' : 'East Harriet',
    'EAST ISLES' : 'East Isles',
    'EAST PHILLIPS' : 'East Phillips',
    'ECCO' : "Ecco",
    'ELLIOT PARK' : 'Elliot Park',
    'ERICSSON' : 'Ericsson',
    'FIELD' : 'Field',
    'FOLWELL' : 'Folwell',
    'FULTON' : 'Fulton',
    'HALE' : 'Hale',
    'HARRISON' : 'Harrison',
    'HAWTHORNE' : 'Hawthorne',
    'HIAWATHA' : 'Hiawatha',
    'HOLLAND' : 'Holland',
    'HOWE' : 'Howe',
    'HUMBOLDT INDUSTRIAL AREA' : 'Humboldt Industrial Area',
    'JORDAN' : 'Jordan',
    'KEEWAYDIN' : 'Keewaydin',
    'KENNY' : 'Kenny', 
    'KENWOOD' : 'Kenwood', 
    'KING FIELD' : 'King Field', 
    'LIND - BOHANON' : 'Lind - Bohanon',
    'LINDEN HILLS' : 'Linden Hills', 
    'LOGAN PARK' : 'Logan Park', 
    'LONGFELLOW' : 'Longfellow', 
    'LORING PARK' : 'Loring Park',
    'LOWRY HILL' : 'Lowry Hill', 
    'LOWRY HILL EAST' : 'Lowry Hill East', 
    'LYNDALE' : 'Lyndale', 
    'LYNNHURST' : 'Lynnhurst',
    'MARCY HOLMES' : 'Marcy Holmes', 
    'MARSHALL TERRACE' : 'Marshall Terrace', 
    'MCKINLEY' : 'McKinley',
    'MID - CITY INDUSTRIAL' : 'Mid - City Industrial', 
    'MIDTOWN PHILLIPS' : 'Midtown Phillips', 
    'MINNEHAHA' : 'Minnehaha',
    'MORRIS PARK' : 'Morris Park', 
    'NEAR - NORTH' : 'Near - North', 
    'NICOLLET ISLAND - EAST BANK' : 'Nicollet Island - East Bank',
    'NORTH LOOP' : 'North Loop', 
    'NORTHEAST PARK' : 'Northeast Park', 
    'NORTHROP' : 'Northrop', 
    'PAGE' : 'Page',
    'PHILLIPS WEST' : 'Phillips West', 
    'POWDERHORN PARK' : 'Powderhorn Park',
    'PROSPECT PARK - EAST RIVER ROAD' : 'Prospect Park - East River Road', 
    'REGINA' : 'Regina', 
    'SEWARD' : 'Seward', 
    'SHERIDAN' : 'Sheridan',
    'SHINGLE CREEK' : 'Shingle Creek', 
    'ST. ANTHONY EAST' : 'St. Anthony East', 
    'ST. ANTHONY WEST' : 'St. Anthony West',
    'STANDISH' : 'Standish', 
    'STEVENS SQUARE - LORING HEIGHTS' : "Steven's Square - Loring Heights", 
    'SUMNER - GLENWOOD' : 'Sumner - Glenwood',
    'TANGLETOWN' : 'Tangletown', 
    'UNIVERSITY OF MINNESOTA' : 'University of Minnesota', 
    'VENTURA VILLAGE' : 'Ventura Village',
    'VICTORY' : 'Victory', 
    'WAITE PARK' : 'Waite Park', 
    'WEBBER - CAMDEN' : 'Webber - Camden', 
    'WENONAH' : 'Wenonah',
    'WEST CALHOUN' : 'West Calhoun', 
    'WHITTIER' : 'Whittier', 
    'WILLARD - HAY' : 'Willard - Hay', 
    'WINDOM' : 'Windom',
    'WINDOM PARK' : 'Windom Park'
})
#crime_df["Neighborhood"].unique()

In [37]:
#Removing the no-named Neighborhoods
crime_df = crime_df[crime_df["Neighborhood"] != "Unknown"]
#crime_df

In [39]:
#Removing data outside our timeline
crime_df = crime_df[crime_df["Year"] > 2017]

In [40]:
#Final Cleaned DataFrame
#crime_df = crime_df[["Neighborhood","Crime","Number of Cases","Date"]]
crime_df.set_index(keys="Neighborhood",inplace=True)
crime_df

                           Crime  Number of Cases  Month  Year    Date
Neighborhood
Armatage      Aggravated Assault              NaN      1  2018  1/2018
Armatage                   Arson              NaN      1  2018  1/2018
Armatage              Auto Theft              NaN      1  2018  1/2018
Armatage                Burglary              NaN      1  2018  1/2018
Armatage                Homicide              NaN      1  2018  1/2018
...                          ...              ...    ...   ...     ...
Windom Park             Burglary              0.0      6  2022  6/2022
Windom Park             Homicide              0.0      6  2022  6/2022
Windom Park              Larceny             11.0      6  2022  6/2022
Windom Park                 Rape              0.0      6  2022  6/2022
Windom Park              Robbery              2.0      6  2022  6/2022

[37584 rows x 5 columns]

In [42]:
date_data = crime_df.groupby(["Year","Month","Crime"])[["Number of Cases"]].count()
date_data

                               Number of Cases
Year Month Crime
2018 1     Aggravated Assault               45
           Arson                             4
           Auto Theft                       73
           Burglary                         68
           Homicide                          3
           Larceny                          82
           Rape                             21
           Robbery                          43
     2     Aggravated Assault               38
           Arson                             3
           Auto Theft                       51
           Burglary                         63
           Homicide                          2
           Larceny                          84
           Rape                             20
           Robbery                          38
     3     Aggravated Assault               49
           Arson                             7
           Auto Theft                       51
           Burglary                         64